@import url("photographer.css");

html, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    margin-top: 100px;
}

.photographers_section_article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographers_section_article h2 {
    color: #D3573C;
    font-size: 36px;
}

.photographers_section_article h3 {
    color: #901C1C;
    font-size: 13px;
}

.photographers_section_article h4 {
    font-size: 10px;
}

.photographers_section_article h5 {
    color: #757575;
    font-size: 9px;
}

.photographers_section_article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

/* MEDIA QUERIES */
@media (max-width: 800px) {
    .photographer_section {
        grid-template-columns: 1fr !important;
    }
}

@media (max-width: 1280px) {
    header {
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
    }

    header * {
        margin: 0 !important;
    }

    .photographer_section {
        grid-template-columns: repeat(2, 1fr);
    }

    .photographers_section_article * {
        text-align: center;
    }
}
